<div class="">
    <div  
    [formGroup]="formGroup"
    autocomplete="off"
    [class]="class"
    >
    
        <div *ngIf="label"  class="col-12 p-0 mb-1 labelNames formFields">
            <label class="label" >
                {{label}} <sup *ngIf="requiredStar" class="requiredStar">*</sup>
            </label> 
        </div>
        <div class="col-12 p-0 m-0">
            <p-password 
            [formControlName]="name" 
            [feedback]="feedback"
            [disabled]="disabled"
            [toggleMask]="toggleMask"
            [placeholder]="placeholder"
            [style]="style"
            [class]="class"
            (input)="eventFromInput($event)"
            [maxLength]="maxlength"
            [minlength]="minlength"
            ></p-password>
        </div>
        <div [ngClass]="className" class="flex">
            <small class="p-error-invalid">{{ error }}</small>
            <small *ngIf="!error" class="p-error-invalid"><br /></small>
          </div>
    </div>
</div>

