<div>
  <div>
    <span class="datLoadsHeading">DAT LOADS</span> <span class="pi pi-sync refresh-icon ml-2" (click)="refreshTable()"></span>
  </div>
  <div class="no_records" *ngIf="showNoRecords">No records found</div>
  <div *ngIf="!showNoRecords" class="viewdatTable">
    <p *ngIf="totalAvailbalerecords ==1" class="totalRecords">{{totalAvailbalerecords}} Record Found</p>
    <p *ngIf="totalAvailbalerecords !==1" class="totalRecords">{{totalAvailbalerecords}} Records Found</p>
    <app-table
      [config]="loadsPostingTableConfig"
      [responseData]="totalLoadPostsData"
      [paginator]="false"
      (intersectionHappened)="onInfiniteLoading()"
      (sortcolumn)="sortTable($event)"
      [loading]="hasLoading"
      [showInfiniteLoad]="showInfiniteLoad"
    ></app-table>
  </div>
</div>
