@import '../../../../../theme.scss';

.datLoadsHeading{
margin: 20px 0px 5px 0px ;
font: 600 25px/1.5 "Open Sans", sans-serif;
color: #ffffff;
}
.no_records{
    color: $whiteColor;
    text-align: center;
    font: 400 16px/1.5 $font-family !important;
}
.totalRecords{
    color: $primaryButtonColorBackground;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 3px;
}

.refresh-icon {
    cursor: pointer;
    color: $primaryButtonColorBackground;
}

::ng-deep{
    .viewdatTable{
        .p-datatable .p-datatable-loading-icon {
            height: 25px !important;
           width: 25px !important;
            color: $errorFont !important;
        }
        .table-container .p-datatable .p-sortable-column .p-sortable-column-icon {
            height: 0.5rem !important;
        }
        .table-container .p-datatable .p-sortable-column .p-sortable-column-icon {
            margin-left: 0.1rem !important;
        }
    }
   
}
