@import "../../../../../theme.scss";
.overallContainer {
  // margin: 20px;
}
.rate_lookup_heading {
  font: 800 25px $font-family;
  color: $whiteColor;
  margin-bottom: 20px;
}
.rateSearch_container {
  border: 1px solid $cancelBackground;
  // background-color: $cancelBackground;
  // padding: 20px;
}

// .Search_cancel_btn_div {
//   display: flex;
//   justify-content: end;
// }

.autoCompleteContainer .p-inputtext {
  min-width: 280px !important;
}

::ng-deep {
  .location_field {
    .labelNames {
      margin: 8px;
    }
    .autoCompleteContainer .p-inputtext {
      // background: $inputBackgroundSpotPricing !important;
      background: none !important;
      border: 1px solid $inputBackgroundSpotPricing !important;
      color: $whiteColor !important;
      font-size: 14px !important;
    }

    .p-autocomplete .p-autocomplete-loader {
      right: 2rem !important;
      color: $inputPlaceholderSpot !important;
  }
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
    color: $whiteColor !important;
    background: #363636 !important; 
}
  }
// equipment drop down
  .equipmentType_field {
    .input_dropdown_component .p-dropdown {
      background: none !important;
      border: 1px solid $inputBackgroundSpotPricing !important;
    }
    .input_dropdown_component .p-dropdown .p-dropdown-label {
      background: none !important;
      color: $whiteColor !important;
      font-size: 14px !important;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background-color: $inputBackgroundSpotPricing !important;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight :hover {
      background-color: $inputBackgroundSpotPricing !important;
    }
    .input_dropdown_component .p-dropdown .p-dropdown-label.p-placeholder {
  
      background: none !important;
      font-size: 14px !important;
      color: $inputPlaceholderSpot !important;
    }
    .p-icon {
      width: 0.8rem !important;
      height: 0.8rem !important;
    }
    .p-dropdown-panel .p-dropdown-items {
      background: $bodyBackgroundColor !important;
      border: 1px solid $inputBackgroundSpotPricing !important;
    }
    .p-dropdown-panel .p-dropdown-items :hover {
      background: $inputBackgroundSpotPricing !important;
    }
    .input_dropdown_component
      .p-dropdown-panel
      .p-dropdown-items
      .p-dropdown-item {
      color: $whiteColor !important;
    }
  }

//   calendar 
  .pickup_field {
    .p-calendar .p-inputtext {
      // background: $inputBackgroundSpotPricing !important;
      // border: none !important;
      background: none !important;
      border: 1px solid $inputBackgroundSpotPricing !important;
      color: $whiteColor !important;
      font-size: 14px !important;
    }
    .p-datepicker table td.p-datepicker-today > span{
      background-color: green;
    }
  }

  .clear_btn {
    .input_button_component .button-cancel .p-button {
      border: 1px solid $whiteColor;
    }

    .input_button_component .button-cancel .p-button:enabled:hover,
    .input_button_component .button-cancel .p-button:enabled:active {
      border: 1px solid $whiteColor !important;
    }
  }

  .Search_cancel_btn_div{
    .clear_btn{
        .input_button_component .button-cancel .p-button{
            background-color: transparent !important;
        }
    }
  }

  .swap-button{
    .input_button_component .button-primary{
      margin: 0rem !important;
    }

    .input_button_component .button-primary .p-button {
      color: #CC1F3A;
      background: transparent;
      border: none;
      width: 30px !important;
      &:hover{
        color: #CC1F3A;
        background: transparent;
        border: none;
        width: 30px !important;
      }
    }
  }


  .location_field_guests .p-inputtext{
    background: none !important;
    border: 1px solid #363636 !important;
    color: #ffffff !important;
    font-size: 14px !important;
  }
  .margin-10{
    margin-top: 5px;
  }
}

.location-swapper{
  height: 50px;
  display: flex;
  align-items: end;
}

.hotelImg{
  height: 100%;
  width: 100%;
  object-fit: contain;
}