@import "../../../../../theme.scss";

.green_screen_div {
  border: 1px solid $cancelBackground;
  // background-color: $cancelBackground;
  padding: 20px;
}
.dat_screen_div {
  border: 1px solid $cancelBackground;
  // background-color: $cancelBackground;
  padding: 30.5px;
}
.rate_heading {
  font: 600 25px/1.5 $font-family;
  color: $whiteColor;
}
.target_confidence {
  font: 400 14px/1.5 $font-family;
  color: $fontColor;
}

.target_value {
  font: 600 25px/1.5 $font-family;
  color: $whiteColor;
}
.noGreenValue {
  font: 400 16px/1.5 $font-family;
  color: $whiteColor;
}

.confidence_level {
  font: 600 14px/1.5 $font-family;
  color: $thumbsUpFontColor;
}
.dat_avg_value {
  font: 400 14px/1.5 $font-family;
  color: $fontColor;
}

.mileage {
  font: 600 14px/1.5 $font-family;
  color: $goldColor;
}

.mileageRate {
  font-size: 18px !important;
  color: $whiteColor;
}

.vertical_border {
  margin-top: 10px;
  border-left: 1.5px solid #cc1f3a;
  height: 60px;
}
.not-found-block-dat {
  font-size: 20px;
  color: $fontColor;
  margin-left: 15px;
}
.not-found-block {
  font-size: 20px;
  color: $fontColor;
  margin-left: 25px;
}

.green-scren-empty {
  // padding: 5px;
  margin-top: 10px;
}

.ratePerMile {
  font: 400 16px/1.5 $font-family;
  color: $whiteColor;
}
.toolTipclass {
  max-width: 500px !important;
}

.external-link {
  margin-left: 2px;
}
.reportData{
  margin: 0px 2px 1px 2px;
}

.reportsData{
  margin-left: 10px;
}
::ng-deep {
  .datLoadsBtn {
    .p-button .p-button-icon-left {
      margin-right: 0.5rem;
      color: #cc1f3a !important;
    }
  }
}
