<div class="input_text_component">
    <div
      class="p-input-filled"
      [formGroup]="formGroup"
      autocomplete="off"
      [class]="class"
      autocomplete="off"
    >
      <div class="textBoxMargin">
        <div *ngIf="label" class="col-12 p-0 mb-1  formFields">
          <label class="labelNames"
            >{{ label }}<sup *ngIf="requiredStar" class="requiredStar">*</sup>
          </label>
        </div>
        <span
          class="col-12 p-0 m-0 inputField formFields"
          [class]="icon ? 'p-input-icon-left' : ''"
        >
          <input
            [type]="type"
            pInputText
            [placeholder]="placeholder"
            [disabled]="disabled"
            [formControlName]="name"
            [class]="class"
            [style]="style"
            (keypress)="
              numbersOnly
                ? numberOnly($event)
                : spaces === 0
                ? onKeydown($event)
                : spaces === 1
                ? isAlfa($event)
                : null
            "
            (input)="eventFromInputText($event)"
            [maxlength]="maxlength"
            [minlength]="minlength"
            [readonly]="readonly"
            [min]="min"
            [max]="max"
            [autocomplete]="name"
          />
          <i *ngIf="icon" [class]="iconName" class="input-icon"></i>
        </span>
  
        <div [ngClass]="className" class="flex">
          <small class="p-error-invalid">{{ error }}</small>
          <small *ngIf="!error" class="p-error-invalid"><br /></small>
        </div>
      </div>
    </div>
  </div>
  